<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>twg - The Waiting Game</title>
	<link href="../static/css/waitapp_bs.css" rel="stylesheet">

	<link href="../static/css/waitapp_jumbotron.css" rel="stylesheet">

	<script src="../static/js/jquery-2.2.0.min.js"></script>

</head>

<body>
	<div class="container">


		<!-- <div class="text-title-waitapp">
			<h4 class="text-muted"><br><br></h4>
		</div> -->


		<div class="">
			<form class="form-horizontal" method="post" action="/addWish" accept-charset="utf-8mb4">
				<fieldset>

					<!-- Form Name -->
					<h3>What are you waiting for?</h3>

					<!-- Text input -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="txtTitle">How long/where are you waiting?</label>
						<div class="col-md-4">
							<input id="txtTitle" name="inputTitle" type="text" placeholder="e.g. 35 mins, at CVS, etc." class="form-control input-md"/>
						</div>
					</div>

					<!-- Text Area -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="txtPost">What are you waiting for?</label>
						<div class="col-md-4">
							<textarea class="form-control" id="txtPost" name="inputDescription" placeholder="&#x1F36A; to be done!"></textarea>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="singlebutton"></label>
						<div class="col-md-4">
							<input id="singlebutton" name="singlebutton" class="btn btn-primary btn-lg btn-block" type="submit" value="Post my wait!" />
						</div>
					</div>


				</fieldset>
			</form>

			<div class="align-center">
				<a href="showDashboard">jk, go back</a>
			</div>
		</div>
		<footer class="footer">
			<br><br><br>
			<p>The Waiting Game</p>
			<p>&copy; SBL 2015</p>
            <p><a href="mailto:sblyon@me.com?Subject=The%20Waiting%20Game" target="_top">contact</a></p>
		</footer>

	</div>
</body>

</html>