<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>twg - The Waiting Game</title>

	<link rel="stylesheet" href="../static/css/waitapp_bs.css">
 
    <link href="../static/css/waitapp_jumbotron.css" rel="stylesheet">

 	<script src="../static/js/jquery-2.2.0.min.js"></script>

	<script type="text/javascript" src="../static/js/jquery.tmpl.js"></script>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></script> -->

    <script>
        $(function() {
    		$.ajax({
    			url: '/getAllWaits',
    			type: 'GET',
    			success: function(response) {
    				console.log(response);
    				var data = JSON.parse(response);

    				var itemsPerRow = 0;
    				var div = $('<div>').attr('class','row');
    				
    				for (var i = 0; i < data.length; i++) {
    					
    					if (itemsPerRow < 10) {
    						var stuff = CreateThumb(data[i].Id, data[i].Title, data[i].Description, data[i].Like, data[i].HasLiked, data[i].Poster, data[i].TimeElapsed, data[i].CommentsCount);
    						if (i == data.length - 1) {
    							div.append(stuff);
    							$('.well').append(div);
    						} else {
    							div.append(stuff);
    							itemsPerRow++;
    						}
    					} else {
    						$('.well').append(div);
    						div = $('<div>').attr('class','row');
    						div.append(stuff);

    						if (i == data.length - 1) {
    							$('.well').append(div);
    						}
    						itemsPerRow = 1;
    					}
    				}
    			},
    			error: function(error) {
    				console.log(error);
    			}
    		});
    	})

    	function CreateThumb(id,title,desc,like,hasLiked,poster,timeElapsed,commentsCount) {
    		var mainDiv = $('<div>').attr('class', 'col-sm-4 col-md-4');
    		var thumbNail = $('<div>').attr('class', 'thumbnail');
    		var caption = $('<div>').attr({
                'class':'caption',
                'id':'caption_' + id});
    		var title = $('<h4>').html(poster + " is waiting " + title + " for " + desc);
    		// var desc = $('<p>').text("for " + desc);
    		var p = $('<p>');
    		var btn = $('<a>').attr({
    			'id': 'likebtn_' + id,
    			'type': 'button',
    			'class': 'btn btn-danger btn-sm'
    		});

    		var span = $('<span>').attr({
    			'class':'glyphicon glyphicon-thumbs-up',
    			'aria-hidden':'true'
    		});

            // span.text("I can relate")

    		var likeSpan = $('<span>').attr({'aria-hidden':'true','id':'span_'+id});

    		var dateSpan = $('<span>').attr('class','datespan');

    		if (timeElapsed < 60) {
    			var timeText = timeElapsed + 'm ago';
    		} else if (timeElapsed < 120) {
    			var timeText = '1h ago';
    		} else if (timeElapsed < 1440) {
    			var timeText = String(Math.round(Number(timeElapsed)/60)) + 'h ago';
    		} else if (timeElapsed < 2880) {
    			var timeText = '1d ago';
    		} else if (timeElapsed < 43200) {
    			var timeText = String(Math.round(Number(timeElapsed)/1440)) + 'd ago';
    		} else {
    			var timeText = '> 1 month ago';
    		}

    		dateSpan.html(timeText);

    		if ((hasLiked == "1") && (Number(like) == 2)) {
    			likeSpan.html('&nbsp; You & ' + (Number(like) - 1) + ' Other &nbsp;');
    		} else if (hasLiked == "1" && Number(like) > 2) {
    			likeSpan.html('&nbsp; You & ' + (Number(like) - 1) + ' Others &nbsp;');
    		} else if (hasLiked == "1" && Number(like) == 1) {
                likeSpan.html('&nbsp; You &nbsp;')
            } else if (Number(like) != 1) {
    			likeSpan.html('&nbsp;' + like + "&nbsp;"); //+ ' likes');
    		} else {
                likeSpan.html('&nbsp; 1&nbsp;')
            }

            var spacer = $('<span>').text(" ");
            var showCommentBtn = $('<button>').attr({
                'id': 'showCommentbtn_' + id,
                'type': 'button',
                'class': 'btn btn-sm'
            });

            var commentSpan = $('<span>').html("&nbsp;&nbsp;🗯 " + commentsCount);

    		p.append(btn.append(span).append(likeSpan));
            p.append(spacer);
            p.append(showCommentBtn.append(commentSpan));

            caption.append(dateSpan);
    		caption.append(title);
    		caption.append(p);

    		thumbNail.append(caption);

    		mainDiv.append(thumbNail);

    		return mainDiv;
    	}

    	$(document).on('click','[id^="likebtn"]', function() {
    		var spId = $(this).attr('id').split('_')[1];
    		$.ajax({
    			url: '/addUpdateLike',
    			method: 'POST',
    			data: {
    				wait: $(this).attr('id').split('_')[1],
    				like: 1
    			},
    			success: function(response) {
    				console.log(response)
                    var obj = JSON.parse(response);

    				if (obj.likeStatus == "1" && obj.total > 2) {
    					$('#span_'+spId).html('&nbsp;You & ' + (Number(obj.total) - 1) + ' Others');
    				} else if (obj.likeStatus == "1" && obj.total == 1) {
    					$('#span_'+spId).html('&nbsp; Liked &nbsp;');
    				} else if (obj.likeStatus == "1" && obj.total == 2) {
    					$('#span_'+spId).html('&nbsp; You & 1 Other &nbsp;');
    				} else { 
    					$('#span_'+spId).html('&nbsp;' + obj.total + '&nbsp;');
    				}
    			},
    			error: function(error) {
    				console.log(error);
    			}
    		});
    	});

        $(document).on('click','[id^="showCommentbtn"]',
            function() {
                myId = $(this).attr('id').split('_')[1];
                ShowHideComments();

        });
        
        function ShowHideComments() {
            // toggle - if there's a comment showing, remove, else show
            console.log("toggling")
            if ($('#caption_' + myId).find('#commentDiv_' + myId).length) {
                $('#commentDiv_' + myId).remove();
                $('#addCommentbtn_' + myId).remove();
            } else if ($('#caption_' + myId).find('#addCommentbtn_' + myId).length){
                $('#addCommentbtn_' + myId).remove();
            } else {
                $('#addCommentbtn_' + myId).remove();
                GetComments();
            }

        };

        function GetComments() {
            $.ajax({
                url: '/getCommentsByWaitId',
                type: 'POST',
                data: {
                    id: myId
                },
                success: function(response) {
                    console.log(response);
                    var data = JSON.parse(response);
                    
                    var div = $('<div>').attr({
                        'class': '',
                        'id': 'commentDiv_' + myId
                    });
                    
                    var header = $('<p>').attr('class','text-muted').html("<i>Comments</i>");

                    div.append(header);

                    var itemsPerRow = 0;
                    for (var i = 0; i < data.length; i++) {
                        
                        if (itemsPerRow < 10) {
                            var stuff = CreateCommentThumb(data[i].Id, data[i].Poster, data[i].Comment, data[i].TimeElapsed);
                            if (i == data.length - 1) {
                                div.append(stuff);
                                $('#caption_' + myId).append(div);
                            } else {
                                div.append(stuff);
                                itemsPerRow++;
                            }
                        } else {
                            $('#caption_' + myId).append(div);
                            div = $('<div>').attr('class','thumbnail');
                            div.append(stuff);

                            if (i == data.length - 1) {
                                $('#caption_' + myId).append(div);
                            }
                            itemsPerRow = 1;
                        }
                    }

                    var addButton = $('<btn>').attr({
                        'id': 'addCommentbtn_' + myId,
                        'class': 'btn btn-danger btn-sm'
                    });
                    var btnSpan = $('<span>').text("add comment");
                    $('#caption_'+ myId).append(addButton.append(btnSpan));
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        function CreateCommentThumb(id,poster,comment,timeElapsed) {
            var commentDiv = $('<div>').attr({
                'class':'',
                'data-id': id
            });
            var text = $('<p>').html("<b>" + poster + "</b>: " + comment);

            var dateSpan = $('<span>').attr('class','datespan');

            if (timeElapsed < 60) {
                var timeText = timeElapsed + 'm ago';
            } else if (timeElapsed < 120) {
                var timeText = '1h ago';
            } else if (timeElapsed < 1440) {
                var timeText = String(Math.round(timeElapsed/60)) + 'h ago';
            } else if (timeElapsed < 2880) {
                var timeText = '1d ago';
            } else if (timeElapsed < 43200) {
                var timeText = String(Math.round(timeElapsed/1440)) + 'd ago';
            } else {
                var timeText = '> 1 month ago';
            }

            var trashDiv = $('<div>').attr({
                'class':'pull-right action-buttons',
                'data-id': id,
                'id': "DeleteButton"
            });
            var trashLink = $('<a>').attr({
                'onclick':'DeleteComment(this)',
                'data-id': id
            });
            var trashSpan = $('<span>').attr({
                'class':'glyphicon glyphicon-trash',
                'id':'trashSpan'
            });

            trashDiv.append(trashLink.append(trashSpan));

            dateSpan.html("" + timeText);

            commentDiv.append(dateSpan.append(text));
            commentDiv.append(text.append(trashDiv));


            // commentDiv.append(text.append(dateSpan));
            return commentDiv;

        };

        // $(document).on('click','[id^="DeleteButton"]',
        //     function() {
        //             console.log("poof of smoke")
        //             $.ajax
        //         });

        function DeleteComment(elem) {
            localStorage.setItem('delete-id',$(elem).attr('data-id'));
            var comment_id = localStorage.getItem('delete-id');
            console.log(comment_id);
            $.ajax({
                url: '/deleteComment',
                data: {
                    id: comment_id
                },
                type: 'POST',
                success: function(res) {
                    console.log(res);
                    ShowHideComments();
                    ShowHideComments();
                },
                error: function(error) {
                    console.log(error);
                }

            });
        };

        $(document).on('click','[id^="addCommentbtn"]',
            function() {
                //Trigger the popup
                console.log(myId)
                $('#commentModal').modal();
        });

        $(function(){
            $('#btnAddComment').click(function() {
                $.ajax({
                    url: '/addComment',
                    data: {
                        comment: $('#addComment').val(),
                        id: myId
                    },
                    type: 'POST',
                    success: function(res) {
                        console.log(res);
                        $('#commentModal').modal('hide');
                        // Repopulate the grid
                        ShowHideComments();
                        ShowHideComments();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                })
            });
        });


    </script>


</head>

<body>
	<div class="">
        <nav>
            <ul class="nav nav-pills pull-center">
                <li role="presentation"><a href="/userHome">edit</a></li>
                <li role="presentation" class="active"><a href="/showAddWish">I'm waiting &nbsp; <span class="glyphicon glyphicon-pencil"></a></li>
                <li role="presentation"><a href="/logout">logout</a></li>
            </ul>
        </nav>
            
    </div>
    
    <div class="container">
        <div class="title-text-waitapp">
            <h3>Hey {{user}}!</h3>
            <h5 class="text-muted">What are <b>you</b> waiting for?</h5>
        </div>

		<div class="well">
            
        </div>

		<footer class="footer">
			<p>&copy; SBL 2016</p>
            <p><a href="mailto:sblyon@me.com?Subject=The%20Waiting%20Game" target="_top">contact</a></p>
		</footer>

	</div>

    <!--Add Comment Popup-->
    <div class="modal" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
        <div class="modal-dialog" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="commentModalLabel">Add Comment</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="addComment" class="control-label">Comment:</label>
                            <textarea class="form-control" id="addComment"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnAddComment" class="btn btn-primary">Add!</button>
                </div>
            </div>
        </div>
    </div>

</body>

    <script> $(document).ready(function(){
        window.location.hash = "caption_{{anchor}}";
        });
    </script>
</html>