<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>twg - The Waiting Game</title>
 
 
    <link href="../static/css/waitapp_bs.css" rel="stylesheet">

	<link href="../static/css/waitapp_jumbotron.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">The Waiting Game</h3>
        </div>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; SBL 2015</p>
            <p><a href="mailto:sblyon@me.com?Subject=The%20Waiting%20Game" target="_top">contact</a></p>
        </footer>
 
    </div>
</body>
 
</html>