<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Waiting Game</title>

	<link rel="stylesheet" type="text/css" href="../static/css/addtohomescreen.css">
	
	<script src="../static/js/addtohomescreen.js"></script>
	
	<script>
		addToHomescreen();
	</script>

	<link href="../static/css/waitapp_bs.css" rel="stylesheet">

	<link href="../static/css/waitapp_jumbotron.css" rel="stylesheet">

</head>

<body>
	<div class="container">
		<div class="header-waitapp">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="/">Home</a></li>
					<li role="presentation" class="active"><a href="/showSignin">Sign In</a></li>
					<li role="presentation"><a href="/showSignUp">Sign Up</a></li>					
				</ul>
			</nav>
			<!-- <h3 class="text-muted">The Waiting Game</h3> -->
		</div>

		<div class="title-text-waitapp"><p><br> </p></div>

		<div class="jumbotron">
			<h1>The Waiting Game</h1>
			<h3>Patience is a virtue,<br> and virtue should be rewarded. &nbsp;</h3>
			<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
			</p>
		</div>

		<div class="well">
			<div class="thumbnail">
				<div class="caption">
					<span class="datespan">Just now</span>
					<p>Jessica is waiting forEVER for &#x1F689;  #caltrain #whereistrain &#x1F612;  &#x1F612;</p>
					<a href="showSignup" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-thumbs-up"></span><span>&nbsp; 17 Likes</span></a>
				</div>
			</div>
			<div class="thumbnail">
				<div class="caption">
					<span class="datespan">5m ago</span>
					<p>Sam is waiting 0 seconds to sign up! &#x1F603;</p>
					<a href="showSignup" role="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span><span>&nbsp; 100 Likes&nbsp; &#x1F605;</span></a>
				</div>
			</div>
			
		</div>


		<footer class="footer">
			<p>&copy; SBL 2015</p>
            <p><a href="mailto:sblyon@me.com?Subject=The%20Waiting%20Game" target="_top">contact</a></p>
		</footer>

	</div>


</body>

</html>