<!DOCTYPE html>
<html lang="en">
	<head>
		<title>The Waiting Game</title>
		
		<link href="../static/css/waitapp_bs.css" rel="stylesheet">

		<link href="../static/css/waitapp_jumbotron.css" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="../static/css/signup.css">
		
		<script src="../static/js/jquery-2.2.0.min.js"></script>
		
	</head>
	
	<body>
		<div>
			<div class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation"><a href="/">Home</a>
						</li>
						<li role="presentation" class="active"><a href="#">Sign In</a>
						</li>
						<li role="presentation"><a href="/showSignUp">Sign Up</a>
						</li>					
					</ul>
				</nav>
				<h3 class="text-muted">The Waiting Game</h3>
			</div>

			<div class="jumbotron">
				<h3>Hey awesome person! \^_^/ Sign in below...</h3>
				<form class="form-signin" action="/validateLogin" method="post">
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
					<button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
				
			</div>

			<footer>
				<p>&copy; Samuel Lyon 2015</p>
			</footer>

		</div>
	</body>
</html>