<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Waiting Game</title>
		
		<link href="../static/css/waitapp_bs.css" rel="stylesheet">

		<link href="../static/css/waitapp_jumbotron.css" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="../static/css/signup.css">
		
		<script src="../static/js/jquery-2.2.0.min.js"></script>
		
	</head>
	
	<body>
		<div class="container">
			<div class="header-waitapp">
				<!-- <nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation"><a href="/">Home</a>
						</li>
						<li role="presentation" class="active"><a href="#">Sign In</a>
						</li>
						<li role="presentation"><a href="/showSignUp">Sign Up</a>
						</li>					
					</ul>
				</nav> -->
			</div>
			<div class="align-center">
				<h3>The Waiting Game</h3>
			</div>
				
			<div class="jumbotron">
				<p>👏🙌<br><br> Enter your credentials to sign in...</p>
				<form class="form-signin" action="/validateLogin" method="post">
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
					<h4><br></h4>
					<button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in!</button>
				</form>

				<a href="showSignUp">I want a username, take me to sign up! <br> <br></a>
				
			</div>

			<footer class="footer">
				<p>&copy; SBL 2015</p>
	            <p><a href="mailto:sblyon@me.com?Subject=The%20Waiting%20Game" target="_top">contact</a></p>
			</footer>

		</div>
	</body>
</html>